<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="GatewayService.MerchantKey" value="4f12a055-e039-4e46-8369-c864b41e7261" />
    <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
  </appSettings>
</configuration>