@{
    ViewBag.Title = "Contato";
}
<h2>Quer falar conosco?</h2>
<h3>CEO: Raniere Silva</h3>

<address>
    <addr title="E-mail">M:</addr>
    <a href="mailto:me@ranieresilva.com">me@ranieresilva.com</a><br />
    <abbr title="Celular">P:</abbr>
    +55 21 98515-0420
</address>

<address>
    <strong>Suporte: </strong><a href="mailto:suporte@ingresso.com">suporte@ingresso.com</a><br />
</address>
