@{
    ViewBag.Title = "Confirmação de Nova de Senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <h3>Parabéns!</h3>
        Sua senha foi alterada. <br />
        Clique @Html.ActionLink("aqui", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para entrar na sua conta.
    </p>
</div>
