@{
    ViewBag.Title = "Confirmação de Pagamento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <h3>É isso aí!</h3>
        Estamos processando a sua solicitação e dentro em breve você receberá um e-mail com os dados da sua compra.<br />
        Muito obrigado por comprar conosco!
    </p>
</div>
